.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  align-items: center;
  overflow: hidden;
  display: flex;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -1;
}

.logo{
  height: 32px;
  width: 183px;
  z-index: 2;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title{
  max-width: 730px;
  font-size: 102px;
  line-height: 96px;
  margin: 0 0 0 64px;
}

.header__subtitle{
  position: absolute;
  font-size: 18px;
  line-height: 25px;
  max-width: 388px;
  bottom: 30px;
  left: 64px;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2F80ED;
  cursor: pointer;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: -1;
}

.description{
  margin-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  font-size: 24px;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  color: #2F80ED;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 30px 0px 0px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.digits{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-title {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  line-height: 1.15em;
  width: 60%;
  text-align: center;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  margin: 20px 0px 0px;
  width: 60%;
  text-align: center;
}

.table {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  max-width: 1100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading{
  font-size: 24px;
  line-height: 1.15em;
  margin: 0px;
}

.table__text {
  font-size: 18px;
  margin: 20px 0 0;
  line-height: 1.2em;
}

.feynman{
  margin-top: 100px;
  padding-top: 100px;
  height: 890px;
  background: #F2F2F2 url(../images/feynman.png) no-repeat bottom left/ 867px 637px;
  position: relative;
}

.feynman__title{
  font-size: 120px;
  line-height: 1.15em;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  width: 648px;
}

.feynman__subtitle{
  font-size: 36px;
  line-height: 51px;
  text-align: center;
  margin: 70px 0 0;
  font-weight: normal;
}

.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  text-decoration: none;
  color: #2F80ED;
}

.kaufman{
  background-color: #1f1f1f;
  padding: 90px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.section-title_theme_dark{
  color: white;
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  line-height: 1.15em;
}

.section-subtitle_theme_dark{
  color: white;
  line-height: 34px;
  font-size: 24px;
  margin: 20px 0px 0px;
  width: 60%;
  text-align: center;
  font-weight: normal;
}

.table_theme_dark{
  color: white;
  position: relative;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle{
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  width: 877px;
  height: 877px;
  z-index: -1;
  top: 0;
  right: -210px;
  background-size: contain;
}

.footer{
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  box-sizing: border-box;
  display: flex;
}

.footer__columns{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer__author{
  color: white;
  margin: 18px 0;
  font-size: 18px;
  line-height: 25px;
}

.logo_place_footer{
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
}

.footer__column-heading{
  color: white;
  line-height: 30px;
  font-size: 18px;
  margin:0 0 20px;
}

.footer__column-links{
  color: white;
  line-height: 30px;
  font-size: 18px;
  margin:0 0 16px 0;
  padding: 0;
  list-style: none;
}

.footer__social-icon{
  margin-right: 10px;
}

.footer__link{
  text-decoration: none;
  color: white;
}
